<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chat UI</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://unpkg.com/htmx.org@1.9.11"></script>
  <script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>
</head>
<body class="bg-gray-200">
<div class="flex h-screen">
  <div class="flex-1 flex flex-col bg-white overflow-hidden shadow-md" hx-ext="ws" ws-connect="/ws/chatgpt-demo/">
    <div id="message-list" class="p-6 flex-1 overflow-y-scroll">
      <div class="mb-4">
        <div class="mt-1 bg-gray-200 rounded-lg px-4 py-2 text-gray-800">
          Hello, what can I help you with today?
        </div>
      </div>
    </div>
    <form class="border-t-2 border-gray-200 px-4 py-4 mb-2 sm:mb-0" ws-send>
      <div class="relative flex">
        <input type="text" placeholder="Write something..." name="message"
               class="pl-4 pr-10 py-3 rounded-xl border-2 border-gray-200 w-full focus:outline-none focus:border-indigo-300">
        <button type="submit" class="ml-2 bg-blue-600 text-white rounded-xl px-4 py-2 hover:bg-blue-700">Send</button>
      </div>
    </form>
  </div>
</div>
</body>
</html>
